/* 
Global attributes begin here 
*/
:root {
    --dark-bg: #262037;
    --light-bg: #e5d4fc;
    --primary: #b981dc;
    --secondary: #684e83;
    --edge-margin: 60px;
    --global-margin: 5%;
}

* {
    font-family: 'Trebuchet MS', sans-serif;
}

h2 {
    font-size: 1.2rem;
}

body {
    background-color: #362d4c;
    color: var(--light-bg);
    max-width: 100%;
    overflow-x: hidden;
}

.bottomGrad {
    background-image: linear-gradient(180deg, #ffffff00 0%, var(--dark-bg) 85%, var(--dark-bg) 100%);
    background-size: cover;
    position: fixed;
    width: 100vw;
    height: 30vh;
    bottom: 0;
    z-index: -1;
}

/* 
Header begins here 
*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 2%;
    padding-top: 1%; */
}

nav {
    overflow: hidden;
    background-color: var(--dark-bg);
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    left: 0; /* Position the navbar at the left of the page */
    width: 100%; /* Full width */
    padding-right: var(--edge-margin);
    display: flex;
    justify-content: end;
    font-size: 18px;
    z-index: 2;
}

a {
    float: left;
    display: block;
    color: var(--primary);
    text-align: center;
    padding: 6px 9px;
    border-bottom: 4px solid var(--primary);
    margin: 9px 6px;
    text-decoration: none;
}

article > p {
    font-family: 'DIN Next LT Arabic Medium';
    letter-spacing: normal;
    font-kerning: auto;
    font-size: 1.1rem;
    line-height: 1.1;
}

.stylized {
    background-image: linear-gradient(105deg, #e4c088, #d0aa6f);
    width: 116px;
    height: 31px;
    border-radius: 16px;
    border-bottom: none;
    border: 2px solid #cda464;
    padding-top: 5px;
    margin: 4px;
    margin-top: 3px;

    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 1.1em;
    font-weight: bold;
}

.outer_style {
    background-image: linear-gradient(105deg, #e4c088, #d0aa6f);
    width: 124px;
    height: 37px;
    border-radius: 19px;

    margin-left: 5%;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

/* 
Main starts here 
*/
main section { /* content will move from left to right and will wrap below */
    margin: 0 var(--global-margin);
    /* Learned from https://stackoverflow.com/questions/8643401/is-there-a-way-to-add-and-subtract-values-in-css */
    height: auto;
    display: flex;
    flex-flow: row wrap;
}

main section > div {
    display: flex;
    width: 100%;
    padding: 80px 0 0 0;
}

.text-right { /* left section 20% w/ text aligned to the right */
    text-align: right;
    width: 20%;
    border: none;
    padding-top: calc(var(--global-margin)/8);
    padding-right: calc(var(--global-margin)/4);
}

article {
    width: min(100%, 600px);
    padding-left: calc(var(--global-margin)/2);
    border-left: 5px solid var(--secondary);
}

/* 
Nav setup starts here 
*/
section nav {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding-top: 5vh;
    padding-bottom: 5vh;
    align-self: center;
}

section a {
    color: var(--dark-bg);
    border-bottom: 4px solid var(--secondary);
    padding: 3px 5px;
    align-self: flex-end;
}

.hide {
    display: none;
}

#centerImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.fig-icon {
    z-index: 1;
    width: 100%;
    opacity: 0.6;
}

.fig-icon * {
    width: 200px;
    object-fit: contain;
    position: absolute;
    top: 50px;
    left: 0;
}

.doc * {
    width: min(100%, 600px);
    height: 560px;
}


#spinner   {          
    animation: spin 1s linear infinite;
    color: var(--light-bg);
}
  
@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}
  
.inline{ 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: var(--dark-bg);
}
.spinner{
    margin: auto;
}
.spacer {
    height: 40vh;
}
#loadText {
    font-size: 2em;
    width: 100%;
    height: min-content;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 40vh;
}

@font-face {
    font-family: "DIN Next LT Arabic Medium";
    src: url("//db.onlinewebfonts.com/t/aba1a083bf50980a05f0265179103a09.eot");
    src: url("//db.onlinewebfonts.com/t/aba1a083bf50980a05f0265179103a09.eot?#iefix") format("embedded-opentype"), 
    url("//db.onlinewebfonts.com/t/aba1a083bf50980a05f0265179103a09.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/aba1a083bf50980a05f0265179103a09.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/aba1a083bf50980a05f0265179103a09.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/aba1a083bf50980a05f0265179103a09.svg#DIN Next LT Arabic Medium") format("svg");
}

/* 
Media Query set up 
*/

@media screen and (max-width: 900px) {
    /*
    Header adjustment for smaller screens
    */
    header {
        flex-direction: column;
        justify-content: center;
        padding: 0;
    }

    header nav {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 10px var(--edge-margin);
    }

    header a {
        border: 0;
    }
  
    /*
    <main> adjustment for smaller screens
    */
    main section {
        display: block;
        height: auto;
    }

    main section > * { /* contents will take up the whole width */
        width: 100%;
        margin-bottom: calc(var(--global-margin)/2);
    }

    .text-right {
        width: 200px;
    }
  
    /*
    Contact Me adjustment for smaller screens
    */
    section nav { /* contents will move from left to right, and will wrap below */
        flex-flow: row wrap; 
        justify-content: left;
    }
}

@media screen and (max-width: 740px) {
    .doc {
        position: relative;
        left: -55px;
        top: -25px;
        width: 450px;
        height: 100%;
        scale: .75;
    }

    .doc > * {
        position: absolute;
        top: 0px;
        left: 0px;
    }
}